/* Empty. Add your own CSS if you like */

.main-content .horizontally-centered{
  text-align: center;
}
.main-content .home-space-top {
  margin-top: 60px;
}

.main-content .game-space-top {
  margin-top: 20px;
}

.main-content img.main-img {
  width: 350px;
  margin-left: 9px;
}

.main-content .row {
  text-align: center;
}

.main-content .cell-row .col {
  border: 1px solid black;
  height: 40px;
  font-size: 19px;
  padding-top: 11px;
}

.main-content .cell-row .col.img-score {
  padding-top: 0px;
}

.main-content .cell-row .col.img-score img {
  height: 35px;
}

.popup-container .popup {
  width: 355px;
}

.popup-container .popup .popup-body{
  padding-left: 0;
  padding-right: 0;
}

.popup-content{
  text-align: center;
}

#dartboard-bg{
  display: none;
}

.score-button {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  padding-top: 0px;
  line-height: 7px;
  margin-top: 4px;
}

.score-button.button-balanced {
  padding-left: 10px;
}

.score-button.left-button {
  float: left;
}

.score-button.left-button.margin-left {
  margin-left: 7px;
}

.score-button.right-button {
  float: right;
}

.score-button.right-button.margin-right {
  margin-right: 7px;
}

#canvas {
  margin-bottom: 20px;
}
